body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;

}

header {
    text-align: center;
    background-color: #E5E5E5;
}
header img{
    margin:21px 0;
}

header h1 {
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 10px;
    margin:0;
    padding:15px 0;

}
section {
    
    margin: 117px 213px 163px;
}

.tituloh2{
    background-color: #C4C4C4;
    color:#005677;
    font-size: 20px;
    letter-spacing: 4px;
    margin:0;
    padding: 7px;
}

.letra{
    font-size:15px;
}
.item {
    list-style: none;
}
.letra li p, .letra p {
    margin:0;
} 
.atributos{
    font-weight: bold;
}

.li {
    margin:10px;
}

footer{
    background-color:#005677 ;
    color:white;
    text-align: center;
    padding: 11px 0 9px 0;

}
footer .instagram{
    margin:0 26px 0 26px;
}    

footer p {
    margin:0;

}
